In [1]:
from datasets import load_dataset

fashion = load_dataset("ashraq/fashion-product-images-small", split="train")

In [2]:
fashion

Dataset({
    features: ['id', 'gender', 'masterCategory', 'subCategory', 'articleType', 'baseColour', 'season', 'year', 'usage', 'productDisplayName', 'image'],
    num_rows: 44072
})

In [3]:
fashion_df = fashion.to_pandas()
fashion_df.drop(columns=['image'], inplace=True)
fashion_df

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt
...,...,...,...,...,...,...,...,...,...,...
44067,17036,Men,Footwear,Shoes,Casual Shoes,White,Summer,2013.0,Casual,Gas Men Caddy Casual Shoe
44068,6461,Men,Footwear,Flip Flops,Flip Flops,Red,Summer,2011.0,Casual,Lotto Men's Soccer Track Flip Flop
44069,18842,Men,Apparel,Topwear,Tshirts,Blue,Fall,2011.0,Casual,Puma Men Graphic Stellar Blue Tshirt
44070,46694,Women,Personal Care,Fragrance,Perfume and Body Mist,Blue,Spring,2017.0,Casual,Rasasi Women Blue Lady Perfume
44071,51623,Women,Accessories,Watches,Watches,Pink,Winter,2016.0,Casual,Fossil Women Pink Dial Chronograph Watch ES3050

In [4]:
import pandas as pd

image_df = pd.read_csv("./images.csv")

In [5]:
image_df['id'] = image_df['filename'].apply(lambda x: int(x.split('.')[0]))
image_df.drop(columns=['filename'], inplace=True)
image_df = image_df[['id', 'link']]
image_df

          id                                               link
0      15970  http://assets.myntassets.com/v1/images/style/p...
1      39386  http://assets.myntassets.com/v1/images/style/p...
2      59263  http://assets.myntassets.com/v1/images/style/p...
3      21379  http://assets.myntassets.com/v1/images/style/p...
4      53759  http://assets.myntassets.com/v1/images/style/p...
...      ...                                                ...
44441  17036  http://assets.myntassets.com/v1/images/style/p...
44442   6461  http://assets.myntassets.com/v1/images/style/p...
44443  18842  http://assets.myntassets.com/v1/images/style/p...
44444  46694  http://assets.myntassets.com/v1/images/style/p...
44445  51623  http://assets.myntassets.com/assets/images/516...

[44446 rows x 2 columns]

In [6]:
products_df = pd.merge(left=fashion_df, right=image_df, on='id', how='inner')
products_df

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,link
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt,http://assets.myntassets.com/v1/images/style/p...
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans,http://assets.myntassets.com/v1/images/style/p...
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch,http://assets.myntassets.com/v1/images/style/p...
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants,http://assets.myntassets.com/v1/images/style/p...
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt,http://assets.myntassets.com/v1/images/style/p...
...,...,...,...,...,...,...,...,...,...,...,...
44067,17036,Men,Footwear,Shoes,Casual Shoes,White,Summer,2013.0,Casual,Gas Men Caddy Casual Shoe,http://assets.myntassets.com/v1/images/style/p...
44068,6461,Men,Footwear,Flip Flops,Flip Flops,Red,Summer,2011.0,Casual,Lotto Men's Soccer Track Flip Flop,http://assets.myntassets.com/v1/images/style/p...
44069,18842,Men,Apparel,Topwear,Tshirts,Blue,Fall,2011.0,Casual,Puma Men Graphic Stellar Blue Tshirt,http://assets.myntassets.com/v1/images/style/p...
44070,46694,Women,Personal Care,Fragrance,Perfume and Body Mist,Blue,Spring,2017.0,Casual,Rasasi Women Blue Lady Perfume,http://assets.myntassets.com/v1/images/style/p...
44071,51623,Women,Accessories,Watches,Watches,Pink,Winter,2016.0,Casual,Fossil Women Pink Dial Chronograph Watch ES3050,http://assets.myntassets.com/assets/images/516...

In [7]:
len(products_df)

44072

In [8]:
products_df.to_csv('../publisher/src/main/resources/products/fashion-product-images-small.csv', index=False)